.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.title {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.input-field {
    width: 10%;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-button {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA; /* Blue */
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.login-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }

.login-button:hover {
    background-color: #005f5f;
}

.signup-link {
    margin-top: 1em;
    font-size: 0.9em;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.profile-container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px;
    box-sizing: border-box;
}

.title {
    margin-bottom: 20px; /* Space below the title */
}

.traits-container {
    width: 100%; /* Full width of the profile-container */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
    gap: 20px; /* Space between grid items */
}

.trait-pair {
    display: flex; /* Use flexbox within each trait pair */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

.input-field {
    width: 90%; /* Make input fields take up most of the trait pair width */
    margin-bottom: 10px; /* Space below each input field */
}

.submit-button {
    margin-top: 20px; /* Space above the button */
}

.submit-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.trait-heading {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .traits-container {
        grid-template-columns: 1fr; /* Stack the trait pairs on smaller screens */
    }
}


