@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    /* This ensures that there's no space around the edges of the page */
  }



.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.text {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.title {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.input-field {
    width: 10%;
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-button {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA; /* Blue */
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.login-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }

.login-button:hover {
    background-color: #005f5f;
}

.signup-link {
    margin-top: 1em;
    font-size: 0.9em;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.profile-container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    min-height: 100vh; /* Full height of the viewport */
    min-width: none; 
    padding: 20px;
    box-sizing: border-box;
}

.title {
    margin-bottom: 20px; /* Space below the title */
}

.traits-container {
    width: 100%; /* Full width of the profile-container */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
    gap: 20px; /* Space between grid items */
}

.trait-pair {
    display: flex; /* Use flexbox within each trait pair */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin-bottom: 3em;
    margin-top: 3em;
}

.input-field {
    width: 40%; /* Make input fields take up most of the trait pair width */
    margin-bottom: 20px; /* Space below each input field */
}

.submit-button {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    background-color: #008CBA; /* Blue */
    color: white;
    font-size: 1em;
    cursor: pointer; /* Space above the button */
}

.submit-button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.trait-heading {
    margin-bottom: 15px;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .traits-container {
        grid-template-columns: 1fr; /* Stack the trait pairs on smaller screens */
    }
}

.top-banner {
    position: sticky;
    top: 0; /* Set the top position to 0 so it sticks to the very top of the page */
    z-index: 1000; /* Ensure it's above other elements */
    background-color: #E0F7FA; /* Light blue background */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px; /* Set the height of the banner */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
  }
  
  .logo {
    height: 100%; /* Adjust as needed */
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #333; /* Dark grey text, adjust as needed */
    transition: color 0.3s ease; /* Optional: transition for hover effect */
  }
  
  .navigation a:hover {
    color: #000; /* Change color on hover */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .top-banner {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navigation ul {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .navigation li {
      margin: 5px 0; /* Less space between items on small screens */
    }
  }


